// Define variable defaults
$body-bg: #964b4b;
$body-color: #111;

#app{
    background-color: $body-bg;
}

.container-fluid {
    padding: 0px;
 }

.selector-for-some-widget {
    box-sizing: content-box;
  }